/* ----------------------------footer */
footer{
    height: 155px;
}
footer div.footerBox a,
div.footerBox:last-child{
    font-size: 0.875rem;
    color: #fff;
}
footer div.footerBox img{
    width:42px;
    height:42px;
    border-radius: 5px;
}